.pt-10 {
  padding-top: 10px;
}

.box-around-form {
  background-color: #0063db;
  padding: 10px 5px;
  border-radius: 5px;
  z-index: 10;
}

.box-around-results {
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-row {
  margin: 10px 0px;
  border-radius: 5px;
  background-color: #dddddd;
}

.image-cell {
  text-align: center;
  padding: 5px;
  margin: 0px 5px;
}

.red-text {
  color: #fc0484;
}

.blue-text {
  color: #0063db;
}

@media (min-width: 768px) {
  .pt-10 {
      padding-top: 0px;
  }
  .pt-sm-10 {
      padding-top: 10px;
  }
}
